rules_version = '2';

service cloud.firestore {


  match /databases/{database}/documents {

    // TODO: assign users from admin app an admin role

    // only allow signed in user to create user document
    match /admins/{adminId} {
      allow read, write: if adminId == request.auth.uid;
    

      
    }

    // allow admin to create a new experiment
    match /experiments/{experimentDocId} {
        allow create: if request.auth.uid != null;
      }

    
    // only allow users to edit their own experiments


    // match /{document=**} {
    //   allow read, write: if request.time < timestamp.date(2024, 6, 23);
    // }
  }
}